---
import Layout from "../layouts/Layout.astro"
import Form from "@/components/Form.astro"
---

<Layout title="form">
    <div class="mt-[51px] md:mt-[80px]">
        <div class="border-b-2 border-white">
            <h3 class="text-white text-2xl">User</h3>
        </div>        
        <Form/>
    </div>
</Layout>