---
import Layout from "../layouts/Layout.astro";
import Envio from "@/components/Envio.astro";
---

<Layout title="form">
    <div class="mt-[51px] md:mt-[80px]">
        <div class="border-b-2 border-white">
            <h3 class="text-white text-2xl"></h3>
            <Envio />
        </div>
    </div>
</Layout>

<script>
    
</script>
