---
import Layout from "../layouts/Layout.astro";
import Swiper from "../components/SwiperX.astro";
import Products from "./product/products.astro";
---

<Layout title="33">
    <div class="">
        
    </div>
    <Swiper />
    <Products />
</Layout>
