<nav>
    <a
        id="cart-button"
        data-collapse-toggle="navbar-sticky"
        data-nav-toggle="#navbar-sticky"
        class="cursor-pointer text-white w-full"
        aria-controls="navbar-sticky"
        aria-expanded="false"
    >
        CART
    </a>
    <div
        id="cart-open"
        class="items-center justify-between hidden w-full navbar"
        id="navbar-sticky"
    >
        <ul
            class=" flex w-full h-custom--calc left-0 md:h-custom-calc top-[51px] md:top-[65px] flex-col absolute bg-black items-center p-4 md:p-0 font-medium border-2 border-white md:mt-0"
        >
        
        </ul>
    </div>
</nav>

<script>
    const button = document.querySelector("#cart-button") as Element;
    const cartOpen = document.querySelector("#cart-open") as Element;

    button?.addEventListener("click", () => {
        cartOpen.classList.toggle("hidden");
    });
</script>
