---

---

<nav
    class="z-[1000] border-2 border-white text-white px-8 bg-black w-full h-[51px] md:h-[65px] fixed bottom-0 grid grid-cols-[1fr_auto_1fr] md:flex"
>
    <div class="md:hidden flex items-center"></div>
    <div class="md:w-full w-fit flex justify-center items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-dice-3"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
            ></path><circle cx="8.5" cy="8.5" r=".5" fill="currentColor"
            ></circle><circle cx="15.5" cy="15.5" r=".5" fill="currentColor"
            ></circle><circle cx="12" cy="12" r=".5" fill="currentColor"
            ></circle></svg
        >
    </div>
</nav>

<div class="md:hidden flex justify-end items-center"></div>
