---
import Menu from "../components/Menu.astro";
import Cart from "../components/Cart.astro";
---

<header
    class="z-[1000] fixed top-0 border border-white text-white h-[51px] md:h-[65px] w-full flex items-center justify-between"
>
    <div class="flex px-1 items-center justify-center min-w-[100px] text-center h-full border border-white">
        <Menu />
    </div>
    <div
        class="flex w-full h-full justify-center items-center border border-white"
    >
        <h1><b>X</b></h1>
    </div>
    <div class="flex px-1 items-center justify-center min-w-[100px] text-center h-full border border-white">
        <Cart />
    </div>
</header>
<script>
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("abajo", window.scrollY > 0);
    });
</script>
<style>
    header {
        background: transparent;
    }
    header.abajo {
        background-color: #000;
    }
</style>
