---
import Menu from "../components/Menu.astro";
import Cart from "../components/Cart.astro";
const user = Astro.locals.user;
---

<header
    class="z-[1000] fixed top-0 border border-white text-white h-[51px] md:h-[65px] w-full flex items-center justify-between"
>
    <div class="flex px-1 items-center justify-center min-w-[100px] text-center h-full border border-white">
        <Menu />
    </div>
    <div
        class="flex w-full h-full justify-center items-center border border-white"
    >
    {
        user ? (
            <div>
                <form method="POST" action="/api/signout">
                    <button class="flex-row justify-center border text-white cursor-pointer hover:bg-black-600 hover:text-white focus:ring-2 focus:outline-none focus:ring-black-300 font-medium rounded-lg px-5 py-2 text-center inline-flex items-center dark:focus:ring-black-300   hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100">
                        Sign out
                    </button>
                </form>
            </div>
        ) : (
            <div class="flex flex-col ">
                <a
                    class="flex-row justify-center border text-white cursor-pointer hover:bg-black-600 hover:text-white focus:ring-2 focus:outline-none focus:ring-black-300 font-medium rounded-lg px-5 py-2 text-center inline-flex items-center dark:focus:ring-black-300   hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"
                    href="/signin"
                >
                    Sign In
                </a>
            </div>
        )
    }
    </div>
    <div class="flex px-1 items-center justify-center min-w-[100px] text-center h-full border border-white">
        <Cart />
    </div>
</header>
<script>
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("abajo", window.scrollY > 0);
    });
</script>
<style>
    header {
        background: transparent;
    }
    header.abajo {
        background-color: #000;
    }
</style>
