---
import Menu from "../components/Menu.astro";
import Cart from "../components/Cart.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
import { SignIn, SignOut } from "auth-astro/components";
---

<header
    class="z-[1000] fixed top-0 border-b-2 text-white h-[51px] md:h-[65px] w-full flex items-center justify-between"
>
    <div
        class="flex px-1 items-center justify-center min-w-[100px] text-center h-full"
    >
        <Menu />
    </div>
    <di class="flex w-full h-full justify-center items-center">
        {
            session ? (
                <>
                    <p>Hola! {session.user?.email}</p>
                    <SignOut>Cerrar Sesion</SignOut>
                </>
            ) : (
                <>
                    <SignIn provider="google">Iniciar Sesion</SignIn>
                </>
            )
        }
    </di>
    <div
        class="flex px-1 items-center justify-center min-w-[100px] text-center h-full"
    >
        <Cart />
    </div>
</header>
<script>
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("abajo", window.scrollY > 0);
    });
</script>
<style>
    header {
        background: transparent;
    }
    header.abajo {
        background-color: #000;
    }
</style>
