---

---

<nav>
    <a
        id="menu-button"
        data-collapse-toggle="navbar-sticky"
        data-nav-toggle="#navbar-sticky"
        class="cursor-pointer text-white md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false"
    >
        MENU
    </a>
    <div id="menu-open" class="hidden w-full navbar" id="navbar-sticky">
        <div
            class="w-[80vw] md:w-[40vw] h-custom--calc md:h-custom-calc left-0 top-[51px] md:top-[65px] absolute p-3 bg-black font-medium border-2 md:mt-0"
        >
            <div class="flex flex-col justify-between h-full text-start">
                <div>
                    <ul class="w-fit">
                        <h3 class="underline">Dashboard</h3>
                        <li>
                            <a
                                href="/"
                                class="hover:underline text-start btn block py-2 pl-3 text-white rounded md:bg-transparen md:py-1 hover:text-orange-600"
                                aria-current="page"
                            >
                                Home
                            </a>
                        </li>
                        <li>
                            <a
                                href="/form"
                                class="hover:underline text-start btn block py-2 pl-3 text-white rounded md:bg-transparen md:py-1 hover:text-orange-600"
                                aria-current="page"
                            >
                                Form
                            </a>
                        </li>
                    </ul>
                    <ul class="w-fit">
                        <h3 class="underline">Remeras</h3>
                        <li>
                            <a
                                href="/product/shirt1"
                                class="hover:underline text-start btn block py-2 pl-3 text-white rounded md:bg-transparen md:py-1 hover:text-orange-600"
                            >
                                Pur0Huezo
                            </a>
                        </li>
                        <li>
                            <a
                                href="/product/shirt2"
                                class="hover:underline text-start btn block py-2 pl-3 text-white rounded md:bg-transparen md:py-1 hover:text-orange-600"
                            >
                                0pium
                            </a>
                        </li>
                        <li>
                            <a
                                href="/product/shirt3"
                                class="hover:underline text-start btn block py-2 pl-3 text-white rounded md:bg-transparen md:py-1 hover:text-orange-600"
                            >
                                tres
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="py-2"
                        <ul class="w-full flex">
                            <li
                                class="flex justify-start items-center text-white hover:text-orange-600 hover:cursor-pointer mx-2"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class=""
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
                                    ><path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"></path><path
                                        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                                    ></path><path
                                        d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                                    ></path><path d="M16.5 7.5l0 .01"
                                    ></path></svg
                                >
                                <a href="">Instagram</a>
                            </li>
                            <li
                                class="flex justify-start items-center text-white hover:text-orange-600 hover:cursor-pointer mx-2"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
                                    ><path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"></path><path
                                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                                    ></path></svg
                                >
                                <a href="">GitHub</a>
                            </li>
                        </ul>
                    </div>
                    <div class="border-t-2 py-2 border-white">
                        <p class="mx-2"><b>Design: Maximo Figuera</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const button = document.querySelector("#menu-button") as Element;
    const menuOpen = document.querySelector("#menu-open") as Element;

    button?.addEventListener("click", () => {
        menuOpen.classList.toggle("hidden");
    });
</script>
